# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/
heroku.txt
target/classes/templates/*

target/classes/templates/index.html
target/classes/META-INF/maven/br.com.sistema/mcosta/pom.properties
target/classes/META-INF/MANIFEST.MF
target/classes/templates/index.html
target/classes/application.properties
target/classes/application.properties
target/classes/static/lib/counterup/counterup.min.js
target/classes/application.properties
