<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="pt-br"
	layout:decorate="~{layout}">

<section layout:fragment="conteudo" id="cadastro">
	<div class="container">
		<br/>
		<form class="form-horizontal" enctype="multipart/form-data" method="POST" action="/administracao/cliente/upload" th:object="${cliente}">
			<div layout:replace="mensagem"></div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="clearfix">
						<h1 class="panel-title titulo-panel">Upload de Logo</h1>
						<a class="btn btn-link link-panel" href="/administracao/cliente" title="Voltar para pesquisa">Pesquisa</a>
					</div>
				</div>
				<div class="panel-body">
					<input type="hidden" th:field="*{id}" />
					<input type="hidden" th:field="*{logo}" />
					
					<input type="file" name="file" />
					<input type="submit" value="Enviar" />
				</div>
			</div>
		</form>
	</div>
</section>
</html>
