<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="pt-br"
	layout:decorate="~{layout}">

<section layout:fragment="conteudo" id="cadastro">
	<div class="container">

		<br />
		<form class="form-horizontal" method="POST"
			th:action="@{/administracao/cliente}" th:object="${cliente}">
			<div layout:replace="mensagem"></div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="clearfix">
						<h1 class="panel-title titulo-panel">Cadastro de Cliente</h1>
						<a class="btn btn-link link-panel" href="/administracao/cliente"
							title="Voltar para pesquisa">Pesquisa</a>
					</div>
				</div>

				<div class="panel-body">
					<input type="hidden" th:field="*{id}" /> <input type="hidden"
						th:field="*{logo}" />

					<div class="form-group"
						th:classappend="${#fields.hasErrors('nome')} ? has-error">
						<label for="nome" class="col-sm-1 control-label">Nome:</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="nome" maxlength="60"
								placeholder="Nome" th:field="*{nome}" />
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-offset-1 col-sm-10">
							<button type="submit" class="btn btn-primary" title="Salvar">Salvar</button>
						</div>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-offset-1 col-sm-10">
					<button type="button" class="btn btn-default" data-toggle="modal"
						th:disabled="${disable}" rel="tooltip" data-placement="right"
						title="Adicionar Serviço" data-target="#modalAdicionarServico">
						<span class="glyphicon glyphicon-plus-sign"></span> Adicionar Serviço
					</button>
				</div>
			</div>
			<div class="col-sm-offset-1 col-sm-6">
				<table id="servicos" class="table table-striped">
					<tr th:each="item,rowStat : ${servicos}">
						<td th:hidden="${disable}"><span id="removeLinhaSpan"
							title='Remover Serviço' class="fa fa-trash text-danger"
							rel="tooltip" data-placement="top"></span></td>
						<td class="center middle"
							th:text="${item}"></td>
					</tr>
				</table>
			</div>

		</form>
	</div>
</section>
</html>
