<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="pt-br"
	layout:decorate="~{layout}">
	
<section layout:fragment="conteudo" id="cadastro">
	<div class="container">
	  <h2>Sobre nós</h2>
	  	<form class="form-horizontal" method="POST" action="/administracao/sobre" th:object="${sobre}">
			<div layout:replace="mensagem"></div>
			
			<div class="panel panel-primary">
				<div class="panel-heading">
					<div class="clearfix">
	  				<h1 class="panel-title titulo-panel">Cadastro</h1>
	  				<a class="btn btn-link link-panel branco" href="/administracao/sobre" title="Voltar para pesquisa">Pesquisa</a>
	  			</div>
				</div>
				

				
				<div class="panel-body">
					<input type="hidden" th:field="*{id}"/>
				
					<ul class="nav nav-tabs">
					    <li class="active"><a data-toggle="tab" href="#sobre">Sobre</a></li>
					    <li><a data-toggle="tab" href="#detalhe1">1 º Detalhe</a></li>
					    <li><a data-toggle="tab" href="#detalhe2">2º Detalhe</a></li>
					    <li><a data-toggle="tab" href="#detalhe3">3º Detalhe</a></li>
					  </ul>
					
					  <div class="tab-content">
					    <div id="sobre" class="tab-pane fade in active">
					      <div class="form-group" th:classappend="${#fields.hasErrors('titulo')} ? has-error">
								<label for="titulo" class="col-sm-2 control-label">Título</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="titulo" placeholder="Título" th:field="*{titulo}" />
								</div>
							</div>
							<div class="form-group" th:classappend="${#fields.hasErrors('descricao')} ? has-error">
								<label for="descricao" class="col-sm-2 control-label">Descrição</label>
								<div class="col-sm-4">
									<textarea class="form-control" id="descricao" name="message" rows="5" placeholder="Descrição" th:field="*{descricao}"></textarea>
								</div>
							</div>
							<div class="form-group" th:classappend="${#fields.hasErrors('qtdProjetos')} ? has-error">
								<label for="qtdProjetos" class="col-sm-2 control-label">Quantidade de Projetos</label>
								<div class="col-sm-4">
									<input type="number" class="form-control" id="qtdProjetos" placeholder="Quantidade de Projetos" th:field="*{qtdProjetos}" />
								</div>
							</div>
							<div class="form-group" th:classappend="${#fields.hasErrors('horasTrabalho')} ? has-error">
								<label for="horasTrabalho" class="col-sm-2 control-label">Horas de Trabalho</label>
								<div class="col-sm-4">
									<input type="number" class="form-control" id="horasTrabalho" placeholder="Horas de Trabalho" th:field="*{horasTrabalho}" />
								</div>
							</div>
					    </div>
					    <div id="detalhe1" class="tab-pane fade">
					      <input type="hidden" th:field="*{sobreDetalhe1.id}"/>
							<div class="form-group" th:classappend="${#fields.hasErrors('sobreDetalhe1.nome')} ? has-error">
								<label for="nome1" class="col-sm-2 control-label">Nome</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="nome1" placeholder="Nome" th:field="*{sobreDetalhe1.nome}" />
								</div>
							</div>
							<div class="form-group" th:classappend="${#fields.hasErrors('sobreDetalhe1.descricao')} ? has-error">
								<label for="descricao1" class="col-sm-2 control-label">Descrição</label>
								<div class="col-sm-4">
									<textarea class="form-control" id="descricao1" name="message" rows="5" placeholder="Descrição" th:field="*{sobreDetalhe1.descricao}"></textarea>
								</div>
							</div>
							<div class="form-group" th:classappend="${#fields.hasErrors('sobreDetalhe1.icone')} ? has-error">
								<label for="icone1" class="col-sm-2 control-label">Ícone</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="icone1" placeholder="Ícone" th:field="*{sobreDetalhe1.icone}" />
									<a class="btn btn-link btn-xs ajuste-link" href="http://fontawesome.io/icons/" target="_blank">
										Consulte aqui a biblioteca de ícones
									</a>
								</div>
							</div>
					    </div>
					    <div id="detalhe2" class="tab-pane fade">
					      <input type="hidden" th:field="*{sobreDetalhe2.id}"/>
							<div class="form-group" th:classappend="${#fields.hasErrors('sobreDetalhe2.nome')} ? has-error">
								<label for="nome2" class="col-sm-2 control-label">Nome</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="nome2" placeholder="Nome" th:field="*{sobreDetalhe2.nome}" />
								</div>
							</div>
							<div class="form-group" th:classappend="${#fields.hasErrors('sobreDetalhe2.descricao')} ? has-error">
								<label for="descricao2" class="col-sm-2 control-label">Descrição</label>
								<div class="col-sm-4">
									<textarea class="form-control" id="descricao2" name="message" rows="5" placeholder="Descrição" th:field="*{sobreDetalhe2.descricao}"></textarea>
								</div>
							</div>
							<div class="form-group" th:classappend="${#fields.hasErrors('sobreDetalhe2.icone')} ? has-error">
								<label for="icone2" class="col-sm-2 control-label">Ícone</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="icone2" placeholder="Ícone" th:field="*{sobreDetalhe2.icone}" />
									<a class="btn btn-link btn-xs ajuste-link" href="http://fontawesome.io/icons/" target="_blank">
										Consulte aqui a biblioteca de ícones
									</a>
								</div>
							</div>
					    </div>
					    <div id="detalhe3" class="tab-pane fade">
					      <input type="hidden" th:field="*{sobreDetalhe3.id}"/>
							<div class="form-group" th:classappend="${#fields.hasErrors('sobreDetalhe3.nome')} ? has-error">
								<label for="nome3" class="col-sm-2 control-label">Nome</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="nome3" placeholder="Nome" th:field="*{sobreDetalhe3.nome}" />
								</div>
							</div>
							<div class="form-group" th:classappend="${#fields.hasErrors('sobreDetalhe3.descricao')} ? has-error">
								<label for="descricao3" class="col-sm-2 control-label">Descrição</label>
								<div class="col-sm-4">
									<textarea class="form-control" id="descricao3" name="message" rows="5" placeholder="Descrição" th:field="*{sobreDetalhe3.descricao}"></textarea>
								</div>
							</div>
							<div class="form-group" th:classappend="${#fields.hasErrors('sobreDetalhe3.icone')} ? has-error">
								<label for="icone3" class="col-sm-2 control-label">Ícone</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="icone3" placeholder="Ícone" th:field="*{sobreDetalhe3.icone}" />
									<a class="btn btn-link btn-xs ajuste-link" href="http://fontawesome.io/icons/" target="_blank">
										Consulte aqui a biblioteca de ícones
									</a>
								</div>
							</div>
					    </div>
					  </div>
					
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-primary">Salvar</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</section>
</html>
