<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="pt-br">
<head>
<title>MCosta Engenharia</title>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="description" content=""/>
<link th:href="@{/img/faviconM.ico}" rel="icon">
<link th:href="@{/css/404.css}" rel="stylesheet" type="text/css">  
</head> 
<div class="wrapper row2">
  <div id="container" class="clear">
    <section id="fof" class="clear">
      <div class="hgroup clear">
        <h1>404</h1>
        <br/>
        <br/>
        <h2>Error ! <br/><br/><span>Página não encontrada</span></h2>
        <br/>
        <br/>
      <p><a href="javascript:history.go(-1)">&laquo; Voltar</a></p>
    </section>
  </div>
</div>
</html>