<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<section layout:fragment="conteudo" id="contact">
	<div class="container wow fadeInUp">
		<div class="section-header">
			<h3 class="section-title">Sobre</h3>
			<p class="section-description">Cadastro</p>
		</div>
	</div>

	<div class="container wow fadeInUp">
	
		<div class="alert alert-success" th:if="${!#strings.isEmpty(mensagem)}">
			<span th:text="${mensagem}">Sobre cadastrado com sucesso!</span>
		</div>
	
		<div class="row justify-content-center">

			<div class="col-lg-3 col-md-4">

				<div class="info">
					<div>
						<i class="fa fa-map-marker"></i>
						<p>Nome</p>
					</div>

					<div>
						<i class="fa fa-map-marker"></i>
						<p>Descrição</p>
					</div>

					<div style="padding-top: 80px">
						<i class="fa fa-phone"></i>
						<p>Ícone</p>
					</div>
				</div>

			</div>

			<div class="col-lg-5 col-md-8">
				<div class="form">
					<div id="sendmessage">Mensagem enviada com sucesso. Obrigado!</div>
					<div id="errormessage"></div>
					<form action="/administracao/sobre" method="post" role="form" class="contactForm">
						
						<div class="form-group">
							<input type="text" name="nome" class="form-control" id="nome"
								placeholder="Nome" />
							<div class="validation"></div>
						</div>
						<div class="form-group">
							<textarea class="form-control" name="descricao" rows="5"
								data-rule="required" data-msg="Descrição"
								placeholder="Descrição"></textarea>
							<div class="validation"></div>
						</div>
						<div class="form-group">
							<input type="text" name="icone" class="form-control" id="icone" placeholder="Ícone" />
							<div class="validation"></div>
						</div>
						<div class="text-center">
							<button type="submit">Salvar</button>
						</div>
					</form>
				</div>
			</div>

		</div>

	</div>
</section>
</html>
