<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="pt-br">

<footer id="footer">
	<div class="footer-top">
		<div class="container"></div>
	</div>

	<div class="container">
		<div class="credits">
			Desenvolvido por 
			<a target="_blank" href="https://www.linkedin.com/in/pedro-j%C3%BAnior-927b0b45/">Pedro Júnior</a> |
			<a target="_blank" href="https://www.linkedin.com/in/alanlcardoso/">Alan Cardoso</a>
		</div>
	</div>
</footer>

</html>
