<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="pt-br">
<head>
  	<title>MCosta Engenharia</title>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="description" content=""/>
	<meta name="author" content=""/>

  <!-- Favicons -->
  <link th:href="@{/img/favicon.png}" rel="icon">
  <link th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">

  <!-- Bootstrap CSS File -->
  <link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/lib/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/lib/animate/animate.min.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">

</head>

<body>

  <!--==========================
  Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="#hero"><img src="img/logo2.jpg" alt="" title="" /></img></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#hero"><i class="fa fa-home" aria-hidden="true"></i></a></li>
          <li><a href="#about" th:if="${sobre != null}">Empresa</a></li>
          <li><a href="#services"  th:if="${!#lists.isEmpty(totalServico)}">Serviços</a></li>
          <li><a href="#portfolio" th:if="${totalCliente > 0}">Clientes</a></li>
          <li><a href="#contact"   th:if="${contato != null}">Contato</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Hero Section
  ============================-->
  <section id="hero">
    <div class="hero-container">
      <h1>MCosta Engenharia</h1>
<!--       <h2>Uma frase chocante</h2> -->
      <a href="#about" class="btn-get-started" th:if="${sobre != null}">Sobre nós</a>
    </div>
  </section><!-- #hero -->

  <main id="main">
	<section layout:fragment="conteudo"></section>
  </main>

  <!--==========================
    Footer
  ============================-->
  <div layout:replace="footer"></div><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
  <script th:src="@{/lib/jquery/jquery.min.js}"></script>
  <script th:src="@{/lib/jquery/jquery-migrate.min.js}"></script>
  <script th:src="@{/lib/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/lib/easing/easing.min.js}"></script>
  <script th:src="@{/lib/wow/wow.min.js}"></script>

  <script th:src="@{/lib/waypoints/waypoints.min.js}"></script>
  <script th:src="@{/lib/counterup/counterup.min.js}"></script>
  <script th:src="@{/lib/superfish/hoverIntent.js}"></script>
  <script th:src="@{/lib/superfish/superfish.min.js}"></script>

  <!-- Template Main Javascript File -->
  <script th:src="@{/js/main.js}"></script>

</body>
</html>