<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="pt-br"
	layout:decorate="~{layout}">

<section layout:fragment="conteudo" id="item-servico">

	<section id="team">
		<div class="container wow fadeInUp" th:each="item : ${itensServico}">
			<div class="section-header">
				<h3 class="section-title">Serviço</h3>
			</div>

			<section id="about" style="margin-left: 15px; margin-bottom: -40px;">
				<div class="row about-container">
					<div class="content order-lg-1 order-2">
						<div class="icon-box wow fadeInUp">
							<div class="icon">
								<i th:classappend="'fa ' + ${item.servico.imagem}"></i>
							</div>
							<h4 class="title" th:text="${item.servico.nome}"></h4>
							<p class="description" th:text="${item.servico.descricao}"></p>
							<hr />
							<p class="description" th:text="${item.descricao}"></p>
						</div>
					</div>
				</div>
			</section>

			<div class="row">
				<div class="col-lg-3 col-md-6" th:each="imagemItem : ${item.imagensItemServico}">
					<div class="member hover">
						<div class="pic figure">
							<a href="" data-toggle="modal" th:attr="data-target='#modalImagem' + ${imagemItem.id}">
						    	<img th:src="@{'data:image/jpeg;base64,'+${imagemItem.imagem.fotoBase64}}" alt="">
						  	</a>
						</div>
					</div>
					
					<!-- Modal Imagem -->
				  	<div class="modal fade" th:id="'modalImagem' + ${imagemItem.id}" role="dialog" style="background-color: rgba(0,0,0,0.9);">
				    	<div class="modal-dialog">
				        	<button type="button" class="close" data-dismiss="modal" style="color: #fff; font-size: 35px;">&times;</button>
				          	<img th:src="@{'data:image/jpeg;base64,'+${imagemItem.imagem.fotoBase64}}" style="float:left; width:100%;">
				    	</div>
			      	</div>
				</div>
			</div>
		</div>
	</section>

</section>
</html>