<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="pt-br"
	layout:decorate="~{layout}">

<section layout:fragment="conteudo" id="detalhe-servico">
	<section id="about">
		<div class="row about-container">
			<div class="content order-lg-1 order-2" th:each="servico, indice : ${servicos}">
				<div class="icon-box wow fadeInUp servico" th:classappend="${indice.index % 2 == 0 ? 'fundo-branco' : 'fundo-cinza'}">
					<div class="lista-servico">
						<div class="icon">
							<i th:classappend="'fa ' + ${servico.imagem}"></i>
						</div>
						<h4 class="title" th:text="${servico.nome}"></h4>
						<p class="description" th:utext="${servico.descricao}"></p>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>
</html>