<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="pt-br"
	layout:decorate="~{layout}">

<section layout:fragment="conteudo" id="contato">
	<div class="container">
		<h2>Contato</h2>
		<div class="panel panel-primary">
			<div class="panel-heading">			
				<div class="clearfix">					
					<h1 class="panel-title titulo-panel">Pesquisa</h1>
					<a class="btn btn-link link-panel branco" 
						href="/administracao/contato/novo" 
						th:if="${#lists.isEmpty(contatos)}" 
						title="Novo Serviço">Cadastro</a>
				</div>
			</div>

			<div class="panel-body">
				<table class="table table-bordered table-striped">
					
					<thead>
						<tr>
							<th>Título</th>
							<th>Tipo Logradouro</th>
							<th>Logradouro</th>
							<th>Número</th>
							<th>Bairro</th>
							<th>Cidade</th>
							<th>Estado</th>
							<th>CEP</th>
							<th>Latitude</th>
							<th>Longitude</th>
							<th>Email</th>
							<th>Telefone</th>
							<th class="col-md-2">Ações</th>
						</tr>
					</thead>
					
					<tbody>
						<tr th:each="item : ${contatos}">
							<td th:text="${item.titulo}"></td>
							<td th:text="${item.tipoLogradouro}"></td>
							<td th:text="${item.logradouro}"></td>
							<td th:text="${item.numero}"></td>
							<td th:text="${item.bairro}"></td>
							<td th:text="${item.cidade}"></td>
							<td th:text="${item.estado}"></td>
							<td th:text="${item.cep}"></td>
							<td th:text="${item.latitude}"></td>
							<td th:text="${item.longitude}"></td>
							<td th:text="${item.email}"></td>
							<td th:text="${item.telefone}"></td>
							<td class="text-center">
								<a class="btn btn-link btn-xs" title="Editar"
								th:href="@{/administracao/contato/{id}(id=${item.id})}"> <span
									class="glyphicon glyphicon-pencil"></span>
								</a>
							</td>
						</tr>
						
						<tr>
							<td colspan="12" th:if="${#lists.isEmpty(contatos)}">Nenhum registro encontrado</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>
</html>