<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="pt-br"
	layout:decorate="~{home}">

<section layout:fragment="conteudo" id="detalhe-servico">
	<section id="about" >
		<div class="container">
			<div class="row about-container">
	 			<div class="section-header detalhe-servico">
	          		<h3 class="section-title" th:text="${servico.nome}"></h3>
	          		<div class="icon-box wow fadeInUp conteudo-servico">
						<div class="icon">
							<i th:classappend="'fa ' + ${servico.imagem}"></i>
						</div>
						<p class="description" th:text="${servico.descricao}"></p>
					</div>
	        	</div>
			</div>
		</div>
	</section>
</section>

</html>