<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="pt-br"
	layout:decorate="~{layout}">

<section layout:fragment="conteudo" id="cadastro">
	<div class="container">
		<h2>Item Serviço</h2>
		<form class="form-horizontal" enctype="multipart/form-data" method="POST" th:action="@{/administracao/servico/{id}/item/upload(id=${idEntidade})}" th:object="${imagem}">
			<div layout:replace="mensagem"></div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<div class="clearfix">
						<h1 class="panel-title titulo-panel">Upload de Imagem</h1>
						<a class="btn btn-link link-panel branco" th:href="@{/administracao/servico/{id}(id=${idEntidade})}" title="Voltar para pesquisa">Voltar para Pesquisa</a>
					</div>
				</div>
				<div class="panel-body">
					<input type="hidden" th:field="*{idBase64}" />
					<input type="hidden" th:field="*{foto}" />
					
					<input type="file" name="file" />
					<button type="submit" class="btn btn-primary" title="Enviar" style="margin-top: 10px;">Enviar</button>
					
					<hr/>
					
					<section id="team" style="padding-top: 0px; padding-bottom: 0px;">
						<div class="row">
							<div class="col-lg-3 col-md-6" th:each="imagemItem : ${imagensItemServico}">
								<div class="member hover">
									<div class="pic figure">
										<img th:src="@{'data:image/jpeg;base64,'+${imagemItem.imagem.fotoBase64}}" alt="">
										<div class="middle">
									      <a th:href="@{/administracao/servico/item/{idItem}/imagem/{idImagem}/excluir(idItem=${imagemItem.itemServico.idBase64}, idImagem=${imagemItem.imagem.id})}" 
									      		title="Excluir">
									      	<span class="glyphicon glyphicon-remove" style="color: #fff; font-size: 25px;"></span>
									      </a>
									    </div>
									</div>
								</div>
							</div>
						</div>
					</section>
			
				</div>
			</div>
		</form>
	</div>
</section>
</html>
