<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="pt-br"
	layout:decorate="~{layout}">

<section layout:fragment="conteudo" id="pesquisa">
	<div class="container">
		<h2>Serviço</h2>
		<div class="panel panel-primary">
			<div class="panel-heading">			
				<div class="clearfix">					
					<h1 class="panel-title titulo-panel">Pesquisa</h1>
					<a class="btn btn-link link-panel branco" href="/administracao/servico/novo" title="Novo Serviço">Cadastro</a>
				</div>
			</div>

			<div class="panel-body">
				<table class="table table-bordered table-striped">
					
					<thead>
						<tr>
							<th>Nome</th>
							<th>Descrição</th>
							<th>Ícone</th>
							<th class="col-md-2">Ações</th>
						</tr>
					</thead>
					
					<tbody>
						<tr th:each="item : ${servicos}">
							<td th:text="${item.nome}"></td>
							<td th:text="${item.descricao}"></td>
							<td th:text="${item.imagem}"></td>
							<td class="text-center">
								<a class="btn btn-link btn-xs" title="Editar"
								th:href="@{/administracao/servico/{id}(id=${item.id})}"> <span
									class="glyphicon glyphicon-pencil"></span>
								</a>
								
								<a class="btn btn-link btn-xs" style="color:red" title="Excluir"
								th:href="@{/administracao/servico/excluir/{id}(id=${item.id})}"> <span
									class="glyphicon glyphicon-trash"></span>
								</a>
							</td>
						</tr>
						
						<tr>
							<td colspan="12" th:if="${#lists.isEmpty(servicos)}">Nenhum registro encontrado</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>
</html>